@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  .btn-default {
    @apply inline-block cursor-pointer font-semibold rounded-md border-none uppercase font-play text-white bg-gray-200 hover:bg-gray-400 border-gray-200;
  }

  .btn-primary {
    @apply inline-block cursor-pointer font-semibold rounded-md border-none uppercase font-play py-2 px-4 text-white bg-blue-400 hover:bg-blue-500 border-blue-300;
  }

  .btn-success {
    @apply inline-block cursor-pointer font-semibold rounded-md border-none uppercase font-play py-2 px-4 text-white bg-green-400 hover:bg-green-500 border-green-600;
  }

  .btn-warning {
    @apply inline-block cursor-pointer font-semibold rounded-md border-none uppercase font-play py-2 px-4 text-white bg-yellow-400 hover:bg-yellow-500 border-yellow-600;
  }

  .btn-danger {
    @apply inline-block cursor-pointer font-semibold rounded-md border-none uppercase font-play py-2 px-4 text-white bg-red-400 hover:bg-red-500 border-red-600;
  }

  .btn-xs {
    @apply py-1.5 px-2.5 text-sm
  }

  .btn-ico {
    @apply flex gap-1 items-center
  }

  .label-form {
    @apply block uppercase tracking-wide text-gray-700 text-xs font-semibold mb-1 font-lato;
  }

  .input-file {
    @apply block w-full text-sm text-slate-500 file:mr-4 file:py-2 file:px-4 file:rounded-md file:border-0 file:text-sm file:font-semibold file:bg-orange-50 file:text-orange-700 hover:file:bg-orange-100
  }

  .input-form {
    @apply appearance-none block py-2 px-4 w-full bg-gray-200 text-gray-700 border border-gray-200 leading-tight focus:outline-none focus:bg-white focus:border-gray-500 rounded-md;
  }

  .input-form.invalid {
    @apply bg-red-100 text-red-400 border-red-200 focus:bg-red-200 focus:border-red-400;
  }

  .input-text-invalid {
    @apply text-red-400 text-xs italic;
  }

  .modal {
    @apply overflow-y-auto overflow-x-hidden fixed inset-0 z-50 w-full h-screen flex flex-col items-center bg-black/30;
  }

  .modal-content {
    @apply relative p-5 w-full max-w-xl;
  }

  .modal-body {
    @apply relative bg-white rounded-sm shadow dark:bg-gray-700;
  }

  .modal-close {
    @apply absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-md p-1.5 ml-auto dark:hover:bg-gray-800 dark:hover:text-white w-9 text-center;
  }

  .list-orders {
    @apply py-2 px-4 flex flex-row flex-nowrap border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600 items-center gap-2
  }

}

.owl-carousel .owl-stage-outer {
  padding-bottom: 22px
}

.owl-carousel .owl-stage {
  display: flex;
}

.owl-theme .owl-dots .owl-dot span {
  width: 18px;
}

.text-shadow {
  text-shadow: "1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue"
}

.fa-spin {
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}